<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/cfbbdf49a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logoBusqueda">

            <div class="logo"> <img src="images/logo-mercado-liebre.svg" alt=""> </div>
            <div id="busqueda">
                <input type="text" placeholder=" Buscar productos, marcas">
                <button class="busqueda"> <i class="fas fa-search"></i></button>
            </div>
            <p> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjetas de credito</p>
        </div>
            
        </div>

        <div>

            <nav>
                <ul class="menu" >
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="perfil">
                    <li> <a href=""> Crear tu cuenta</a> <i class="fas fa-id-card"></i></li>
                    <li> <a href="">Ingresa</a> <i class="fas fa-sign-in"></i></li>
                    <li> <a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i> </li>
                </ul>
            </nav>
        </div>

        <button class="burger">    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </button>
        
    </header>
    
    </body>