<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/cfbbdf49a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="logoBusqueda">

            <div class="logo"><a href="/"><img src="images/logo-mercado-liebre.svg" alt=""></a></div>
            <div id="busqueda">
                <input type="text" placeholder=" Buscar productos, marcas">
                <button class="busqueda"> <i class="fas fa-search"></i></button>
            </div>
            <p> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjetas de credito</p>
        </div>
            
        </div>

        <div>

            <nav>
                <ul class="menu" >
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="perfil">
                    <li> <a href="/register"> Crear tu cuenta</a> <i class="fas fa-id-card"></i></li>
                    <li> <a href="/login">Ingresa</a> <i class="fas fa-sign-in"></i></li>
                    <li> <a href="">Mis compras</a> <i class="fas fa-shopping-basket"></i> </li>
                </ul>
            </nav>
        </div>

        <button class="burger">    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </button>
        
    </header>
    <main class="formularios">
        <h2>Bienvenid@</h2>
        <form action="">
            <div class="box">
                <input type="text" name="nombre" placeholder="Nombre y apellido" required>
            </div>

            <div class="box">
                <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            </div>

            <div class="box">
                <input type="email" name="email" placeholder="E-mail" required>
            </div>

            <div class="fecha">
                <span  class="nacimiento">Fecha de nacimiento</span>
                <input type="date" name="fecha" id="fecha">
            </div>

            <div class="box">
                <input type="text" name="domicilio" placeholder="Domicilio" required>
            </div>
            
            <div class="box" id="perfil">
                <span>Perfil de usuario</span>
                <div class="boxFlex">
                    <input type="radio" name="perfil" id="perfil" >
                    <label for="perfil">Comprador</label>
                    
                </div>
                <div class="boxFlex">
                    <input type="radio" name="perfil" id="perfil">
                    <label for="perfil">Vendedor</label>

                </div>
            </div>
                <div class="box" id="interes">
                    <span>Categorías de interés</span>
                    <div>
                        <input type="checkbox" name="categoria" id="electro" value="e">
                        <label for="electro">Electro</label>

                    </div>
                 
                    
                    <div class="columna2">
                        <input type="checkbox" name="categoria" id="moda" value="m">
                        <label for="moda">Moda</label>

                    </div>
                    <div>
                        <input type="checkbox" name="categoria" id="hogar" value="h">
                        <label for="hogar">Hogar</label>
                    </div>

                    <div class="columna2">
                        <input type="checkbox" name="categoria" id="jugueteria" value="j">
                        <label for="jugueteria">Juguetería</label>
                    </div>
                    <div>
                        <input type="checkbox" name="categoria" id="vida" value="v">
                        <label for="vida">Vida sana</label>
                    </div>


                </div>
                    
                <div class="box">
                    <span>Foto de usuario</span>
                    <input type="file" name="foto" id="foto">
                </div>

                <div class="box">
                    <input type="password" name="clave" id="clave" placeholder="Contraseña" required>
                </div>

                <div class="box">
                    <input type="password" name="clave" id="clave" placeholder="Repetir contraseña" required>
                </div>
                
                <div class="box">
                    <button type="submit">Enviar</button>
                </div>
                <div class="box">
                    <button type="reset">Cancelar</button>
                </div>

            </div>

        </form>
        
    </main>
    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p> 
        </section>

        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        </section>

        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        </section>
           
        <section class="copyright">
            <a>Copyright © 1999-2020 MercadoLiebre S.R.L. </a> 
        </section>

    </footer>
    
    </body>