footer{
    margin-top: 20px;
}

footer section.copyright  {
    text-align: right;
    margin-right: 10px;
    font-size: 10px;
   
    
}

footer section  {

    text-align: center;
    margin: 60px 0;
    
}

footer section i {
    color : var(--Celeste);
    font-size: 2em;
    margin-bottom: 10px;
}

@media (min-width : 769px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    footer section {
        width: 30%;
        margin: 30px 0;
    }

    footer section.copyright {
        width: 100%;
    }
}

