.formularios form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularios .box{
    width: 75%;
    margin-bottom: 20px ;
    max-width: 500px;
    
}

.formularios h2 {
    padding-top: 50px;
}

.formularios .box:first-child {
    padding-top: 30px;
}

.formularios input {
    width: 100%;
    padding: 15px 5px;
    /* margin-top: 20px ; */
    border-radius: 5px;
    border: 2px solid var(--Celeste);
    
}

.formularios span {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    
}


.formularios .fecha {
    max-width: 500px;
    position: relative;
    width: 75%;
    margin-bottom: 20px ;
}

.formularios .fecha #fecha {
    color: gray;
    margin-top: 0px;
    text-align: right;
}

.formularios .fecha .nacimiento {
    text-align: left;
    position: absolute;
    top: 19px;
    bottom: auto;
    left: 10px;
    font-size: 14px;
    color: gray;
    width: 50%;
    font-weight: 500;

}

.formularios .box #perfil {
    width: auto;
    
}

.formularios #perfil {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.formularios .box .boxFlex {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
}

.formularios .box .boxFlex label {
    margin-left: 5px;
    
}

.formularios #interes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    
}

.formularios #interes span {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

.formularios #interes div {
    width: 40%;
    text-align: left;
}

.formularios #interes .columna2 {
    width: 40%;
    text-align: right;
}



.formularios #interes div input {
    width: auto;
}

.formularios .box #foto {
    margin-top: 10px;
}

.formularios .box button {
    width: 40%;
    padding: 15px 0px;
    border-radius: 25px;
    font-weight: 600;
    color: white;
    background-color: var(--Celeste);
    border: none;
    cursor: pointer;
    transition: .5s;
}

.formularios .box button a {
    color: white;
}

.formularios .box button:hover {

    background-color: #0022AA
}