* {
    padding: 0;
    margin : 0;
}


body {
    font-family: 'Roboto', sans-serif;
    

} 

h2 {
    font-size: var(--TamañoH2)
}



a {
    text-decoration: none;
    color: black;
   
}

p {
   font-size: var(--TamañoP);
}

nav ul li {
    list-style: none;
}

span {
    display: block;
}





