header {
    background-color: var(--Amarillo);
    padding: 20px 0;
    
}


header .logoBusqueda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

header nav {
    display: none;
}

header .logo {
    width:50%;
}

header .logo img {
   
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

header #busqueda {
    width: 50%;
    text-align: center;
    
    
} 

/* header #busqueda input {
    border: none;
    padding: 15px 0;
    border-radius: 3px;
    
} */

header div p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    
}

header button .burger {
   margin-bottom: 15px;
   display: inline;
}

header .burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:0px;
    border-radius: 5px;
    width:50px;
    height:50px;
    background-color: var(--Celeste);
    
}


header .burger .burger-menu {
    
    color: white;
    font-size: 30px;
}

header nav ul.perfil {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

header nav ul.menu{
    margin-left: 15px;
}


/* Tablet */

@media (min-width : 361px) {
    header nav {
        display: block;
    }
    header .burger {
        display: none;
    }


    header .logo {
        width:33%;
    }
    
    header #busqueda {
        width: 33%;
        
        
    } 

    header .logoBusqueda p {
        width: 33%;
    }

    header div nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    header div nav ul {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }




} 


@media (min-width: 769px) {

  
}