header {
    background-color: var(--Amarillo);
    width: 401px;
    height: 370px;
}

header img {
    margin-left: 25px;
    margin-bottom: 15px;
}

header #busqueda {
    margin-left: 25px;
   
} 

header div p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 16px;
    
}

header button .burger {
   margin-bottom: 15px;
}

header .burger {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:0px;
    border-radius: 5px;
    width:50px;
    height:50px;
    background-color: var(--Celeste);
    
}

header .burger .burger-menu {
    color: white;
    font-size: 30px;
}

header nav ul.perfil {

    margin-top: 15px;
   margin-bottom: 15px;
}

