

main {
    
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
    background-color: var(--GrisClaro);
    padding-bottom: 50px
    
    
    
    
}

main section {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    
}

main section h2 {
    padding-top: 20px ;
    margin-bottom: 20px ;
    width: 100%;
}

main .banner {
    display: none;
    margin-bottom: 15px;
}

main article div {
    margin-top: 10px;
}


main article div span {
    font-size: 18px;
}

main article div p {
    font-size: 16px;
    color: var(--Verde);
}

main article div h3 {
    font-size: var(--TamañoH3)
}

main section article .detalle{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    text-align: left;
    
}

main section article .detalle span {
    width: 30%;
}


main section article .detalle p {
    width: 70%;
    margin-bottom: 15px;
}

main section article .detalle h3 {
    width: 100%;
    color: gray;
    
}

main section article div .envio i {
  
    display:block;
    font-size: 16px; 
    padding:5px; 
    width: 30px; 
    height: 30px; 
    border: 1px solid #39b54a; 
    background-color: #FFF; 
    color: var(--Verde);
    border-radius: 50%; 
    position: absolute;
    top: -15px;
    right: 20px; 




   /*  display:block;
    font-size: 16px; 
    padding:5px; 
    width: 30px; 
    height: 30px; 
    border: 1px solid #39b54a; 
    background-color: #FFF; 
    border-radius: 50%; 
    position:absolute;
    right:20px;
    top:15px */
    
}

main section article .detalle{

    border-top: solid 1px var(--GrisClaro);
   /*  border-bottom: solid 1px var(--GrisClaro); */
    padding: 15px;
}

main section article div img {
    width: 60%;
}

main section article div h3 {
    display: none;
    font-weight: normal;
}

main article{
    margin-top: 10px;
    box-shadow: none;
    background-color: white;
}


/* Tablet */



@media (min-width : 425px) {

    main .banner {
        display: block;
    }


    main section article div h3 {
        display: block;
    }

    main article{

        box-shadow: 0px 0px 10px rgb(100,100,100); 
    }

    main section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    main section article {
        width: 45%;
    
    }
}


/* Desktop */

@media (min-width : 769px) {




    main section article {
        width: 20%;

    
    }
}