:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro : #ebebeb;
    --Verde : #39b54a;
    --TamañoH2:  24px;
    --TamañoP: 12px;
    --TamañoH3: 16px;
    --TamañoPrecios: 18px;
}
