:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro : #ebebeb;
    --Verde : #39b54a;
    --Tama単oH2:  24px;
    --Tama単oP: 12px;
    --Tama単oH3: 16px;
    --Tama単oPrecios: 18px;
}
